doctype html
html(lang="en", ng-app="geoint")
  if debug
    head
      title(ng-bind="title + ' (DEBUG)'")
      script(type='text/javascript', src='js/_bower.js')
      script(type='text/javascript', src='js/app.js')
      script(type='text/javascript', src='js/controllers.js')
      script(type='text/javascript', src='js/directives.js')
      script(type='text/javascript', src='js/filters.js')
      script(type='text/javascript', src='js/services.js')
      link(rel="stylesheet" type="text/css" href="css/complete.min.css")

  else
    head
      title(ng-bind="title")
      script(type='text/javascript', src='js/complete.min.js')
      link(rel="stylesheet" type="text/css" href="css/complete.min.css")

  body
    header(class="classification-banner classification-header") Highest possible classification level is: <strong>"SECRET//REL TO USA, FVEY"</strong>
    div(ng-include="'partials/navbar.html'")
    div(ng-view, class="container-fluid main-view")
    footer(class="classification-banner classification-footer") Highest possible classification level is: <strong>"SECRET//REL TO USA, FVEY"</strong>